<div class="row">
	<div class="span12">
		<form id="approve_assignment_form" accept-charset="utf-8">
		<input type="hidden" name="id" value="{{this.model.workNumber}}" />
		<table id="approve_assignment_table">
			<tbody>
				<tr>
					<td class='span4'>Resolution</td>
					<td class='span8'>{{this.model.resolution}}</td>
				</tr>

			{{#if this.model.closingAssets}}
				<tr>
					<td class='span4'>Attachments</td>
					<td>
						<ul class="unstyled">
							{{#each closingAssets}}
								<li>
									<a href="/asset/download/{{this.uuid}}">{{this.name}}</a>
									{{this.description}}
								</li>
							{{/each}}
						</ul>
					</td>
				</tr>
			{{/if}}

			{{#if this.isInternalAssignment}}
				<tr>
					<td class='span4'>Pricing</td>
					<td>Internal</td>
				</tr>
			{{else}}
				<tr>
					<td class='span4'>Payment Requested</td>
					<td>{{this.formattedCurrency}}</td>
				</tr>
				<tr>
				<td class='span4'>
				{{#if this.model.payment.legacyBuyerFee}}
					Flat Fee
				{{else}}
					Transaction Fee ({{this.model.payment.buyerFeePercentage}}%)
				{{/if}}
				</td>
					<td>{{this.buyerFee}}</td>
				</tr>

				<tr>
					<td class="span4">Total Cost</td>
					<td>{{this.totalCost}}</td>
				</tr>
				<tr>
					<td class="span4">Payment Terms</td>
					<td>
					{{#if this.isImmediate}}
						{{this.model.configuration.paymentTermsDays}} days
					{{else}}
						Immediate
					{{/if}}
					</td>
				</tr>
			{{/if}}
			</tbody>
		</table>
		<div class="wm-action-container">
			<a class="button sendback_action" {{#if this.isNotAuthorizedForPayment}}disabled{{/if}} href="/assignments/sendback/{{this.model.id}}/assignments" data-title="Send Assignment Back to Worker">I&rsquo;m Not Satisfied</a>
			<a class="button submit_approve_pay" {{#if this.isNotAuthorizedForPayment}}disabled{{/if}}>Approve Work</a>
			{{#if this.isNotAuthorizedForPayment}}
				<div style="color:red; margin-top: 10px">You are not authorized to approve or decline this request. Please contact your manager or account administrator to approve or decline</div>
			{{/if}}
		</div>
		</form>
	</div>
</div>
