<table style="margin-bottom: -2px">
	<tr>
		<td><a href={{detail_url}}>{{title}}</a></td>
		<td style="font-color:red">{{price}}</td>
	</tr>
	<tr>
		<td>{{scheduledDate}}</td>
		<td>{{status}}</td>
	</tr>
</table>
