<div class="completion-bar {{#if status}}-{{status}}{{/if}} {{classlist}}" data-completion-min="{{min}}" data-completion-max="{{max}}" data-completion-value="{{value}}">
	<span class="completion-bar--name">{{name}}</span>
	<span class="completion-bar--value">{{value}}{{#if unit}}{{unit}}{{/if}}</span>
	<div class="completion-bar--bar"></div>
</div>
