<label class="wm-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" id="{{id}}">
	<input type="radio" name="{{name}}" class="mdl-radio__button" value="{{value}}" {{#if isChecked}}checked{{/if}} {{#if isDisabled}}disabled{{/if}} {{attributes}} />
	<span class="mdl-radio__label">{{{text}}}</span>
</label>
