<label class="toggle" id="{{id}}">
	<input type="radio" name="{{name}}{{#if nameIdentifier}}-{{nameIdentifier}}{{/if}}" value="{{value}}" {{#if isChecked}}checked{{/if}} {{checked}} />
	<div class="toggle--skin {{classlist}}">{{text}}</div>
</label>
